body {
  margin: 0;
  position: relative;
  z-index: -1;
}

@font-face {
  font-family: open-sans-r;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: open-sans-b;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
}

/*-----HEADER-----*/

.header {
  position: relative;
  z-index: 0;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 126px;
  font-family: open-sans-r, sans-serif;
  background-image: url(../images/banner-bg.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #666666;
  background-size: cover;
  
}
.header::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.header-top {
  display: flex;
  max-width: 1201px;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 179px;
  margin-left: 20px;
}
 
.menu-list {
  display: flex;
  margin: 0 -20px 4px 20px;
  padding: 0;
  list-style-type: none;
}

.menu-list-item {
  color: #ffffff;
}

.menu-list-item-margin {
  margin-left: 35px;
  
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-link {
  font-family: open-sans-r, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.btn {
  display: none;
}

.header-text {
  max-width: 720px;
  margin: 98px auto 0 auto;
  font-family: open-sans-b, sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  line-height: 75px;
}

.btn-burger {
  display: none;
}

/*-----MAIN-----*/

/*-----POPUP-----*/
.popup-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.shadow {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  z-index: 2;
}

.popup-main,
.popup-hidden {
  display: flex;
  justify-content: center;
}

.popup {
  width:390px;
  height: 66.2%;
  padding: 30px;
  box-sizing: border-box;
  position: fixed;
  background-color: #ffffff;
  top: 243px;
  vertical-align: middle;
  z-index: 3;
  font-family: 'open-sans-r';
}

.popup-title {
  margin-left: 7px;
}

.popup-head {
  font-size: 20px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: -21px;
  margin-top: 16px;
  font-family: open-sans-b;
}

.popup-head::after {
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background-color: #e1d9bd;
  margin: 9px 124px;
}

.popup-question {
  line-height: 40px;
  font-weight: 400;
  font-family: open-sans-r;
  color: #000000;
  font-size: 13px;
}

.popup-select {
  display: block;
  box-sizing: border-box;
  width: 330px;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  font-size: 13px;
  color: #828383;
  font-weight: 400;
  font-family: open-sans-r;
  margin-top: -3px;
  padding-left: 19px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 3%;
}

.popup-quiz {
  margin-top: 33px;
}

.popup-mailing {
  display:inline-block;
  margin-top: 29px;
  font-size: 13px;
}

.popup-mailing-title {
  margin-right: 80px;
}

.popup-radio-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 18px;
  vertical-align: middle;
  margin-right: 4px;
}

.popup-group {
  display: inline-block;
  font-size: 1em;
  margin-bottom: 20px;
  margin-top: 7px;
}

.popup-group-margin {
  margin-left: 8px;
}

.radio:checked ~ .popup-radio-text::before {
  background-image: url(../svg/form-circle.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  vertical-align: middle;
}
.radio {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px;
}

.popup-feedback {
  line-height: 16px;
  margin-top: 7px;
  padding-right: 7px;
}

.popup-feedback-title {
  font-size: 13px;
}

.popup-feedback-text {
  font-family: open-sans-r;
  font-size: 13px;
  min-height: 104px;
  max-height: 104px;
  min-width: 295px;
  max-width: 295px;
  background-color: #f4f7f6;
  border: none;
  color: #828383;
  margin-top: 14px;
  margin-bottom: 41px;
  padding: 12px 12px 8px 23px;
}

.popup-button {
  width: 330px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: open-sans-b;
  text-transform: uppercase;
  margin-top: -15px;
  cursor: pointer;
}

.popup-button:hover {
  border: 1px solid #b0a78c;
}

.popup-close {
  background-image: url(../svg/form-x.svg);
  position: absolute;
  width: 20px;
  height: 20px;
  top: -27px;
  right: -4px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

/*-----POPUP-----*/

/*-----TRENDS-----*/
.trends {
  width: 100%;
  padding: 0;
  margin-top: 56px;
}

.heading {
  text-align: center;
  font-size: 20px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "open-sans-b";
  margin-top: 56px;
}

.heading:after {
  content: '';
  display: flex;
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
  opacity: 0.6;
  margin: 10px auto 27px auto;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.trend-box {
  display: flex;
  flex-wrap: wrap;
  min-height: 320px;
  flex-grow: 1;
}

.box {
  position: relative;
  z-index: 0;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #666666;
  background-size: cover;
  width: calc(25% - 4px);
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.box::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.box-margin {
  margin-left: 4px;
}

.box-product1 {
  background-image: url(../images/trend1.jpg);
}

.box-product2 {
  background-image: url(../images/trend2.jpg);
}

.box-product3 {
  background-image: url(../images/trend3.jpg);
}

.box-product4 {
  background-image: url(../images/trend4.jpg);
}

.box-content {
  border: 3px solid #6f6239;
  padding: 35px 24px 29px 30px;
  margin: 25px 20px 20px 23px;
}

.box-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 700;
  font-family: "open-sans-b";
}

.box-link:hover {
  text-shadow: 1px 0 1px rgb(0, 0, 0);
}

.box-title {
  margin: 0;
  line-height: 11px;
}

/*-----TRENDS-----*/

.page {
  margin: 64px 247px;
  max-width: 1200px;
}

.content {
  display: flex; 
  justify-content: space-between;
  padding: 0;
}

.article {
  display: flex;
}

.article-item {
  margin: 0;
  padding: 0;
}

.article:not(:last-child) {
  margin: -5px 0 65px -4px;
}

.article-category {
  display: inline-block;
}

.article-category-link {
  font-size: 14px;
  line-height: 24px;
  color: #b59f5b;
  font-weight: 700;
  font-family: "open-sans-b";
  text-transform: uppercase;
  word-spacing: 15px;
  display: inline-block;
  margin-right: 19px;
  text-decoration: none; 
}

.article-category-link:hover {
  text-decoration: underline; 
}

.article-content {
  list-style-type: none;
  margin-top: 0;  
}

.article-label {
  margin-top: 13px; 
  margin-bottom: 30px;
}

.article-link {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "open-sans-b";
  text-transform: uppercase;
  margin-top: 5px;
  text-decoration: none;
}

.article-link:hover {
  color: #b59f5b; 
}

.article-date {
  margin-right: 14px;
  font-size: 12px;
  line-height: 40px;
  color: #888888;
  font-weight: 400;
  font-family: open-sans-r;
}

.author {
  font-size: 12px;
  line-height: 40px;
  color: #000000;
  font-weight: 700;
  font-family: open-sans-b;
}

.article-description {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: open-sans-r;
  margin: 0;
}

.article-content {
  margin-left: 31px;
}

.article-paragraph > p {
  font-size: 15px;
  line-height: 22px;
  margin: 0;
}

.article-paragraph > p:not(:first-child) {
  margin-top: 8px;
}

.article-title {
  margin: 0;
}

.caption {
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: open-sans-b;
  text-transform: uppercase;
  text-align: center; 
  margin-block-start: 0;
  margin-top: 22px;
  margin-left: 11px;
}

.caption-margin {
  margin-top: 42px;
}

.caption::after {
  content: '';
  display: flex;
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
  opacity: 0.6;
  margin: 10px auto 35px auto;
}

.sidebar {
  margin-left: 119px;
  max-width: 272px;
  padding-top: 13px;
}

.latest-posts {
  margin-top: -42px;
  margin-bottom: -17px;
  padding-bottom: 19px;

}

.post-img {
  margin-right: 20px;
  max-width: 70px;
  max-height: 70px;
}

.post {
  display: flex;
  box-sizing: border-box;
  padding-bottom: 30px;
  margin: -9px 0;
}

.post-title{
  margin: auto;
  line-height: 1;
}

.post-date {
  font-size: 12px;
  color: #989898;
  font-weight: 400;
  font-family: open-sans-r;
}

.post-link {
  font-size: 14px;
  line-height: 1px;
  color: #000000;
  font-family: open-sans-b;
  text-transform: uppercase;
  text-decoration: none;
}

.post-link:hover {
  color: #b59f5b;
}

.search-field {
  background-color: #f4f7f6;
  height: 48px;
  vertical-align: middle;
  border: none;
  min-width: calc(100% - 50px);
  box-sizing: border-box;
  padding-left: 18px;
}

.search-field:focus {
  outline:1px solid #b59f5b;
}

.field {
  box-sizing: border-box;
  background-color: #f4f7f6;
  height: 48px;
  width: 100%;
  vertical-align: center;
  border: none;
  padding-left: 18px;
}

.field:focus {
  outline: 1px solid #b59f5b; 
}

.search {
  display: flex;
  background: #f4f7f6;
  justify-content: space-between;
  margin-top: 41px;
}

.button {
  width: 48px;
  height: 48px;
  background: #b59f5b;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  border: none;
  vertical-align: middle;
}

.button:hover {
  background: #323232;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center; 
}

.sub {
  width: 100%;
  height: 48px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: open-sans-b;
  background: #b59f5b;
  border: none;
  text-transform: uppercase;
  position: relative;
  top: 20px;
  left: 0px;
  margin-bottom: 18px;
  } 

.sub:hover {
  background: #323232;
}

.mailing {
  margin-top: 55px;
}

.searchs {
  margin-top: -13px;
  margin-bottom: 55px;
}

.tags {
  margin-top: 0px;
}

.tags-block {
  display: flex;
  flex-wrap: wrap;
  margin: -8px 3px;
  padding: 0 0 15px 1px;
  list-style-type: none;
}

.tags-block-item {
  margin: 0px 8px 8px 0;
}

.tags-block-link {
  display: block;
  padding: 3px 12px;
  border: 3px solid #ededed;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #0f0d0e;
  text-decoration: none;
  text-transform: uppercase;
}

.tags-block-link:hover {
  border: 3px solid #b59f5b;
  
}
.categories {
  margin-top: 58px;
}

.categories-post-title {
  margin-bottom: 23px;
}

.categories-list {
  margin: -16px 0 0 3px;
  padding: 0;
}

.categories-list-item {
  display: flex;
  padding: 2px 3px 11px 0;
  margin-bottom: 14px;
  border-bottom: 1px solid #eeeeee;
}

.item-link {
  display: block;
  margin-right: 2px;
  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.item-link:hover {
  color: #b59f5b;
  
}

.item-count {
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  color: #b59f5b;
}

/*-----PRODUCTS-----*/

.production {
  width: 100%;
  margin-bottom: 70px;
}

.product-container {
  width: 100%;
  margin: auto;
}

.product-box {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: calc(33.3% - 54px);
  margin: 0;
  display: flex;
  flex-direction: column;
}

.product-card-margin {
  margin-left: 6.7%;
}

.product-img {
  padding-left: 23px;
  padding-right: 23px;
  margin-left: auto;
  margin-right: auto;
}

.product-info {
  outline: 3px solid #c0b78d;
  width: 300px;
  flex-grow: 1;
  margin-top: -35px;
  padding: 29px 23px 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.product-linked {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: open-sans-b;
  text-transform: uppercase;
  text-decoration: none;
}

.product-linked:hover {
  color: #b59f5b;
}

.product-article {
  width: 300px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: open-sans-r;
  margin: -20px 0px 35px 0px;
}

.product-link {
  text-decoration: none;
  color: #b59f5b;
}

.product-link:hover {
  text-decoration: underline;
}

.product-prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "open-sans-b";
  margin-bottom: 15px;
}

.product-price-button {
  width: 140px;
  height: 49px;
  text-transform: uppercase;
  background-color: #b59f5b;
  border: none;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: open-sans-r;
  cursor: pointer;
  margin: -10px 0 9px 0;
}

.product-price-button:hover {
  background-color: #ab9142;
}

.product-price {
  margin: -19px 0 -11px 0;
  text-decoration: line-through;
}

.product-price-new {
  margin: 9px 0 8px 0;
}

.product-group {
  font-family: open-sans-b, sans-serif;
}

/*-----PRODUCTS-----*/

/*-----FOOTER-----*/

.footer {
  margin: auto;
  padding-bottom: 42px;
  box-sizing: border-box;
  max-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.socials {
  margin: auto;
  margin-bottom: 71px;
  background-color: #f4f7f6;
}

.socials-list {
  display: flex;
  margin: 0;
  padding: 31px 0;
  justify-content: center;
  list-style-type: none;
}

.socials-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-list-item:not(:last-child) {
  margin-right: 30px;
}

.link-dribble {
  background-image: url(../svg/001-dribbble.svg);
}

.link-pinterest {
  background-image: url(../svg/002-pinterest.svg);
}

.link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.commercial {
  margin: 0;
  text-align: center;
}

.commercial-link {
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #999999;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    background-size: cover;
    margin: 0px 0px -15px 0px;
    padding-top: 39px;
    padding-bottom: 75px;
  }

  .header-top {
    margin: 3px 40px 85px 13px;
  }

  .header-text {
    font-size: 40px;
    max-width: 653px;
    line-height: 55px;
    margin: 83px 0px 39px 57px;
  }

  .header-logo {
    width: 22.4%;
  }

  .burger {
    width:23px;
    height: 4px;
    background-color: #ffffff;
    margin: 4px;
    margin-right: 15px;
  }

  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: -11px 2px;
  }

  .menu-link {
    display: none;
  }

  .popup {
    width:390px;
    height: 66.7%;
    padding: 30px;
    box-sizing: border-box;
    position: fixed;
    background-color: #ffffff;
    top: 236px;
  }

  .popup-title {
    margin: 0;
  }

  .popup-head {
    font-size: 18px;
  }

  .popup-radio-text::before {
    width: 25px;
    height: 25px;
    background-size: 25px;
    margin-right: 8px;
  }

  .radio:checked ~ .popup-radio-text::before {
    background-size: 25px;
  }

  .popup-group-margin {
    margin-left: 26px;
  }

  .popup-feedback {
    margin-top: 10px;
  }

  .popup-close {
    width: 25px;
    height: 25px;
    top: -35px;
    right: 2px;
  }

  .box {
    width: calc(50% - 4px);
    height: 247px;
    margin: 0;
    background-position: bottom;
  }

  .box:nth-child(n + 3) {
    margin-top: 4px;
  }

  .box:nth-child(2n) {
    margin-left: 4px;
  }

  .box-content {
    padding: 32px 40px 30px 29px;
    margin: 60px 19px 15px 19px;
  }

  .box-link {
    font-size: 17px;
    line-height: 22px;
  }

  .box-product3 .box {
    padding: 0;
  }

  .article {
    flex-direction: column;
  }

  .article:last-child {
    margin: -2px 0px -3px -3px;
  }

  .article-paragraph > p {
    margin: -4px 0px 5px 0px;
  }

  .article-paragraph > p {
    margin: -4px 0 5px 0;
  }

  .page {
    margin: 65px 35px;
  }

  .sidebar {
    max-width: 270px;
    width: 41%;
    margin: 0;
    padding: 7px 0 0 14px;
  }

  .latest-posts {
    margin: -37px -8px -13px 0px;
  }

  .searchs {
    margin: -13px -10px 0px 0px;
  }

  .tags {
    margin: 55px -9px -10px 0px;
  }

  .content {
    margin: 0 auto 35px;
    padding: 0 10px;
    max-width: 717px;
  }

  .article-content {
    margin: 16px -7px 0px 0px;
  }

  .article-link {
    font-size: 17px;
    line-height: 22px;
  }

  .article-label {
    margin-bottom: 22px;
    margin-top: 19px;
  }

  .article-title {
    margin: 1px -5px 0 0;
    line-height: 20px;
  }

  .article-description {
    margin-top: -9px;
  }

  .news {
    width: 59%;
    margin: 4px 27px 1px -7px;
    padding: 0
  }

  .production {
    margin-bottom: -11px;
  }

  .heading {
    font-size: 18px;
    line-height: 29px;
    margin: 58px 0 4px 0;
    padding-bottom: 1px;
  }

  .heading:after {
    margin: 8px auto 22px auto;
  }

  .product-box {
    margin: -20px -6px 0px 2px;
  }

  .product-card {
    width: calc(50% - 38px);
    margin-top: 25px;
    justify-content: space-between;
    flex-shrink: 1;
  }

  .product-card-margin:last-child {
    padding-top: 6px;
    margin: 26px 0 0 0;
  }

  .product-info {
    width: 286px;
    padding: 27px 27px 0px 19px;
  }

  .product-article {
    margin: -22px 0 20px 0px;
  }

  .product-prices {
    margin: 31px -6px 18px 0px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
  }

  .product-linked {
    font-size: 17px;
  }

  .search-field {
    width: calc(100% - 60px);
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url(../images/banner-mobile.jpg);
    background-size: cover;
    padding-bottom: 212px;
  }

  .header-top {
    flex-direction: column-reverse;
  }

  .header-menu {
    align-self: flex-end;
  }

  .header-logo {
    width: 271px;
    padding-top: 45px;
    margin: 145px 0 29px 0;
  }

  .header-text {
    max-width: 290px;
    font-size: 26px;
    line-height: 36px;
    padding: 0 30px;
    margin-top: 0;
  }

  .heading {
    font-size: 16px;
    margin-top: 28px;
  }

  .heading:after {
    margin: 4px auto 23px auto;
  }

  .trends {
    margin-top: 37px;
  }

  .search {
    display: flex;
    margin: 38px -16px 0px -16px;
  }

  .search-group {
    width: calc(100% - 48px);
  }

  .mailing {
    margin-top: -48px;
  }

  .searchs {
    margin: -15px -13px 0 -16px;
  }

  .burger {
    width: 23px;
    height: 4px;
    background-color: #ffffff;
    margin: 4px;
    margin-right: 35px;
  }

  .menu-link {
    display: none;
  }

  .popup {
    width:331px;
    height: 58%;
    padding: 24px;
    top: 56px;
  }

  .popup-title {
    margin: 0;
  }

  .popup-head {
    font-size: 16px;
    margin-top: -2px;
  }

  .popup-head::after {
    margin: 6px auto 0;
  }

  .popup-select {
    width: 278px;
  }

  .popup-mailing {
    margin-top: 31px;
  }

  .popup-mailing-title {
    margin: 0 12px 0 0;
  }

  .popup-radio-text::before {
    width: 25px;
    height: 25px;
    background-size: 25px;
    margin-right: 8px;
  }

  .radio:checked ~ .popup-radio-text::before {
    background-size: 25px;
  }

  .popup-group-margin {
    margin-left: 28px;
  }

  .popup-feedback {
    margin-top: 10px;
  }

  .popup-feedback-text {
    min-width: 244px;
    max-width: 244px;
    margin-top: 8px;
    padding-top: 18px;
  }

  .popup-button {
    width: 280px;
  }

  .popup-close {
    width: 27px;
    height: 27px;
    top: -32px;
    right: 2px;
  }

  .box {
    width: 100%;
    min-height: 232px;
    background-position: bottom;
  }

  .box:nth-child(n) {
    margin-left: 0;
  }

  .box-content {
    margin: 33px 16px 18px 15px;
    padding: 16px 29px 28px 19px;
  }

  .box-link {
    font-size: 16px;
    line-height: 20px;
  }

  .box-title {
    margin: -6px 0 -3px 0;
  }

  .article {
    flex-direction: column;
    margin: 0px -14px 17px -15px;
  }

  .article:not(:last-child) {
    margin: -1px -12px 65px -14px;
  }

  .article-description {
    margin: 2px 6px 7px 0px;
    line-height: 20px;
    font-size: 14px;
  }

  .article-content {
    margin-left: 0;
  }

  .article-item {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
  }

  .article-title {
    margin: -6px 0px -10px 0px;
    line-height: 16px;
  }

  .article-link {
    font-size: 16px;
    line-height: 22px;
  }

  .article-label {
    margin: 13px 0 1px -4px;
  }

  .article-date {
    margin-right: 10px;
  }

  .article-paragraph > p {
    font-size: 14px;
    line-height: 20px;
    margin: 2px 5px -5px -3px;
  }

  .article-paragraph > p:not(:first-child) {
    margin: 10px 0px -6px -4px
  }

  .btn-button {
    position: absolute;
    right: -20px;
  }

  .tags-block {
    margin: -10px -18px;
    padding: 0 0 15px 0;
    justify-content: space-evenly;
  }

  .tags-block-item {
    margin: 0 8px 6px 0;
  }

  .categories-list {
    margin: -15px 0 0 -14px;
  }

  .content {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }

  .box:nth-child(n + 2) {
    margin-top: 2px;
  }

  .page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
    margin: 45px auto 0 auto;
  }

  .sidebar {
    margin-left: 15px;
  }

  .tags {
    margin-top: 42px;
  }

  .caption {
    margin: 67px 5px 0px 5px;
    font-size: 16px;
  }

  .caption-margin {
    margin-top: 28px;
  }

  .post {
    margin: -8px -16px;
  }

  .post-title {
    line-height: 0.8;
  }

  .sidebar {
    max-width: 640px;
    margin: auto;
  }

  .product-img {
    padding-left: 15px;
  }

  .product-container {
    max-width: 640px;
  }

  .product-box {
    flex-direction: column;
    margin: 30px 0px -27px -8px;
  }

  .product-info {
    width: 249px;
    margin: -34px 14px 2px 11px;
    padding: 26px 60px 0px 16px;
  }

  .product-linked {
    font-size: 17px;
  }

  .product-article {
    margin: -20px 0px 35px 0px;
  }

  .product-prices {
    align-items: flex-end;
  }

  .product-price {
    margin: -19px 0 -11px 0;
  }

  .product-price-new {
    margin: 5px 0 15px 0;
  }

  .product-price-button {
    margin: -11px -36px 9px 0px;
  }

  .product-card {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .product-card-margin {
    margin-top: 26px;
    margin-left: 0;
  }

  .socials {
    margin-bottom: 45px;
  }
}