@font-face {
  font-family: open-sans-r;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: open-sans-b;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}

body {
  margin: 0;
  position: relative;
  z-index: -1;
}

/*-----HEADER-----*/

.header {
  position: relative;
  z-index: 0;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 126px;
  font-family: open-sans-r, sans-serif;
  background-image: url(../images/banner-bg.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #666666;
  background-size: cover;
  
}
.header::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.header-top {
  display: flex;
  width: 1167px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 179px;
}
 
.menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-list-item {
  color: #ffffff;
}

.menu-list-item-margin {
  margin-left: 35px;
  
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-link {
  font-family: open-sans-r, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.btn {
  display: none;
}

.header-text {
  max-width: 720px;
  margin: 98px auto 0 auto;
  font-family: open-sans-b, sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  line-height: 75px;
}

.btn-burger {
  display: none;
}

/*-----MAIN-----*/

/*-----POPUP-----*/
.popup-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.shadow {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  z-index: 2;
}

.popup-main,
.popup-hidden {
  display: flex;
  justify-content: center;
}

.popup {
  width:390px;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
  position: absolute;
  background-color: #ffffff;
  top: 250px;
  vertical-align: middle;
  z-index: 3;
}

/*.underline {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.underline::after {
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background-color: #e1d9bd;
  margin: 10px auto 0;
}*/

.popup-head {
  font-size: 20px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-top: 10px;
  font-family: "open-sans-b";
}

.popup-question {
  line-height: 40px;
  font-weight: 400;
  font-family: "open-sans-r";
  color: #000000;
  font-size: 15px;
}

.popup-select {
  display: block;
  box-sizing: border-box;
  width: 330px;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  font-size: 13px;
  color: #828383;
  font-weight: 400;
  font-family: "open-sans-r";
  margin-top: 12px;
  padding-left: 19px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 3%;
}

.popup-quiz {
  margin-top: 30px;
}

.popup-mail {
  display:inline-block;
  margin-top: 34px;
}

.popup-mail-title {
  margin-right: 80px;
}

.popup-radio-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.popup-group {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 33px;
  margin-top: 10px;
}

.popup-group-margin {
  margin-left: 15px;
}

.radio:checked ~ .popup-radio-text::before {
  background-image: url("../svg/form-circle.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  vertical-align: middle;
}
.radio {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px;
}

.popup-feedback-text {
  min-height: 131px;
  max-height: 131px;
  min-width: 305px;
  max-width: 305px;
  background-color: #f4f7f6;
  border: none;
  color: #828383;
  margin-top: 12px;
  padding: 12px;
}

.popup-button {
  width: 330px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: "open-sans-r";
  text-transform: uppercase;
  margin-top: 26px;
  cursor: pointer;
}
.popup-button:hover {
  border: 1px solid #b0a78c;
}

.popup-close {
  background-image: url("../svg/form-x.svg");
  position: absolute;
  width: 20px;
  height: 20px;
  top: -30px;
  right: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  border: none;
}

/*-----POPUP-----*/

/*-----TRENDS-----*/
.trends {
  width: 100%;
  padding: 0;
  margin-top: 56px;
}

.heading {
  text-align: center;
  font-size: 20px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "open-sans-b";
  margin-top: 15px;
}

.heading:after {
  content: '';
  display: flex;
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
  margin: 14px auto 30px auto;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.trend-box {
  display: flex;
  flex-wrap: wrap;
  min-height: 320px;
  flex-grow: 1;
}

.box {
  position: relative;
  z-index: 0;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #666666;
  background-size: cover;
  width: calc(25% - 4px);
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.box::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.box-margin {
  margin-left: 4px;
}

.box-product1 {
  background-image: url(../images/trend1.jpg);
}

.box-product2 {
  background-image: url(../images/trend2.jpg);
}

.box-product3 {
  background-image: url(../images/trend3.jpg);
}

.box-product4 {
  background-image: url(../images/trend4.jpg);
}

.box-content {
  border: 3px solid #6f6239;
  padding: 30px 20px;
  margin: 18px;
}

.box-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "open-sans-b";
}

.box-link:hover {
  text-shadow: 1px 0 1px rgb(0, 0, 0);
}

.box-title {
  margin: 0;
}

/*-----TRENDS-----*/

.page {
  margin: 64px auto;
  max-width: 1200px;
}

.content {
  display: flex; 
  justify-content: space-between;
  padding: 0;
}

.article {
  display: flex;
}

.article-item {
  margin: 0;
  padding: 0;
}

.article:not(:last-child) {
  margin-bottom: 60px;
}

.article-category {
  display: inline-block;
}

.article-category-link {
  font-size: 14px;
  line-height: 24px;
  color: #b59f5b;
  font-weight: 700;
  font-family: "open-sans-b";
  text-transform: uppercase;
  word-spacing: 15px;
  display: inline-block;
  margin-right: 19px;
  text-decoration: none; 
}

.article-category-link:hover {
  text-decoration: underline; 
}

.article-contents{
  list-style-type: none;
  margin-top: 0;  
}

.article-label {
  margin-top: 13px; 
  margin-bottom: 30px;
}

.article-link {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "open-sans-b";
  text-transform: uppercase;
  margin-top: 5px;
  text-decoration: none;
}

.article-link:hover {
  color: #b59f5b; 
}

.article-date {
  margin-right: 14px;
  font-size: 12px;
  line-height: 40px;
  color: #888888;
  font-weight: 400;
  font-family: "open-sans-r";
}

.author {
  font-size: 12px;
  line-height: 40px;
  color: #000000;
  font-weight: 700;
  font-family: "open-sans-b";
}

.article-description {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "open-sans-r";
  margin: 0;
}

.article-content {
  margin-left: 31px;
}

.article-paragraph > p {
  font-size: 15px;
  line-height: 22px;
  margin: 0;
}

.article-paragraph > p:not(:first-child) {
  margin-top: 16px;
}

.article-title {
  margin: 0;
}

.caption {
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "open-sans-b";
  text-transform: uppercase;
  text-align: center; 
  margin-block-start: 0;
}

.caption-margin {
  margin-top: 60px;
}

.caption::after {
  content: '';
  display: flex;
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
  margin: 14px auto 30px auto;
}

.sidebar {
  margin-left: 119px;
  max-width: 272px;
  padding-top: 0;
}

.post-img {
  margin-right: 20px;
  max-width: 70px;
  max-height: 70px;
}

.post {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 22px;
}

.post-title{
  margin: auto;
  line-height: 1;
}

.post-date {
  font-size: 12px;
  color: #989898;
  font-weight: 400;
  font-family: "open-sans-r";
}

.post-link {
  font-size: 14px;
  line-height: 1px;
  color: #000000;
  font-family: "open-sans-b";
  text-transform: uppercase;
  text-decoration: none;
}

.post-link:hover {
  color: #b59f5b;
}

.search-field {
  min-width: calc(100% - 50px);
  height: 48px;
  background-color: #f4f7f6;
  vertical-align: middle;
  border: none;
  box-sizing: border-box;
}

.search-field:focus {
  outline:1px solid #b59f5b;
}

.field {
  box-sizing: border-box;
  background-color: #f4f7f6;
  height: 48px;
  width: 100%;
  vertical-align: center;
  border: none;
}

.field:focus {
  outline: 1px solid #b59f5b; 
}

.search {
  display: flex;
  background: #f4f7f6;
  justify-content: space-between;
}

.button {
  width: 48px;
  height: 48px;
  background: #b59f5b;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  border: none;
  vertical-align: middle;
}

.button:hover {
  background: #323232;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center; 
}

.sub {
  width: 100%;
  height: 48px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: "open-sans-b";
  background: #b59f5b;
  border: none;
  text-transform: uppercase;
  position: relative;
  top: 66px;
  left: 0px;
  margin-bottom: 61px;
  } 

.sub:hover {
  background: #323232;
}

.tegs {
  display: flex;
  box-sizing: content-box;
}

.tags {
  margin-top: 51px;
}

.tags-block {
  display: flex;
  flex-wrap: wrap;
  margin: 18px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.tags-block-item {
  margin: 8px 8px 0 0;
}

.tags-block-link {
  display: block;
  padding: 3px 12px;
  border: 3px solid #ededed;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  color: #0f0d0e;
  text-decoration: none;
  text-transform: uppercase;
}

.tags-block-link:hover {
  border: 3px solid #b59f5b;
  
}
.categories {
  margin-top: 58px;
}

.categories-post-title {
  margin-bottom: 23px;
}

.categories-list {
  margin: 0;
  padding: 0;
}

.categories-list-item {
  display: flex;
  padding: 2px 3px 11px 0;
  margin-bottom: 14px;
  border-bottom: 1px solid #eeeeee;
}

.item-link {
  display: block;
  margin-right: 2px;
  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.item-link:hover {
  color: #b59f5b;
  
}

.item-count {
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  color: #b59f5b;
}

/*-----PRODUCTS-----*/

.production {
  margin-bottom: 70px;
  width: 100%;
}

.product-container {
  width: 100%;
  margin: auto;
}

.product-box {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: calc(33.3% - 54px);
  margin: 0;
  display: flex;
  flex-direction: column;
}

.product-card-margin {
  margin-left: 6.7%;
}

.product-img {
  padding-left: 23px;
  padding-right: 23px;
  margin-left: auto;
  margin-right: auto;
}

.product-info {
  outline: 3px solid #c0b78d;
  width: 300px;
  flex-grow: 1;
  margin-top: -35px;
  padding: 34px 23px 0 23px;
  margin-left: auto;
  margin-right: auto;
}

.product__link {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "open-sans-b";
  text-transform: uppercase;
  text-decoration: none;
}

.product__link:hover {
  color: #b59f5b;
}

.product-article {
  width: 300px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "open-sans-r";
  margin: 0;
}

.product-link {
  text-decoration: none;
  color: #b59f5b;
}

.product-link:hover {
  text-decoration: underline;
}

.product-prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.product-price-button {
  width: 140px;
  height: 49px;
  text-transform: uppercase;
  background-color: #b59f5b;
  border: none;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: "open-sans-r";
  cursor: pointer;
}

.product-price-button:hover {
  background-color: #ab9142;
}

.product-price {
  margin-bottom: 0;
  text-decoration: line-through;
}

.product-price-new {
  margin-top: 0;
}

/*-----PRODUCTS-----*/

/*-----FOOTER-----*/

.footer {
  margin: auto;
  padding-bottom: 42px;
  box-sizing: border-box;
  padding: 0 15px;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.socials {
  margin: auto;
  margin-bottom: 71px;
  background-color: #f4f7f6;
}

.socials-list {
  display: flex;
  margin: 0;
  padding: 31px 0;
  justify-content: center;
  list-style-type: none;
}

.socials-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-list-item:not(:last-child) {
  margin-right: 30px;
}

.link-dribble {
  background-image: url(../svg/001-dribbble.svg);
}

.link-pinterest {
  background-image: url(../svg/002-pinterest.svg);
}

.link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.commercial {
  margin: 0;
  text-align: center;
}

.commercial-link {
  font-family: open-sans-r, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #999999;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    background-size: cover;
  }

  .header-top {
    margin-left: 35px;
    margin-right: 35px;
  }

  .burger {
    width:23px;
    height: 4px;
    background-color: #ffffff;
    margin: 4px;
    margin-right: 15px;
  }

  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .menu-link {
    display: none;
  }

  .box {
    width: calc(50% - 4px);
    height: 247px;
    margin: 0;
  }

  .box:nth-child(n + 3) {
    margin-top: 4px;
  }

  .box:nth-child(2n) {
    margin-left: 4px;
  }

  .box-product3 .box {
    padding: 0;
  }

  .article {
    flex-direction: column;
  }

  .article-contents {
    margin: 0;
  }

  .page {
    max-width: 1200px;
  }

  .sidebar {
    margin-left: 35px;
  }

  .content {
    margin-left: 35px;
    margin-right: 35px;
  }

  .article-contents {
    margin-top: 16px;
  }

  .news {
    min-width: 38%;
  }

  .product-box {
    margin-left: 23px;
    margin-right: 23px;
  }

  .product-card {
    width: calc(50% - 90px);
    margin-top: 24px;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .search-field {
    width: calc(100% - 60px);
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url("../images/banner-mobile.jpg");
    background-size: cover;
  }

  .search {
    display: flex;
  }

  .search-group {
    width: calc(100% - 48px);
  }

  .burger {
    width: 23px;
    height: 4px;
    background-color: #ffffff;
    margin: 4px;
    margin-right: 35px;
  }

  .menu-link {
    display: none;
  }

  .box {
    width: 100%;
    min-height: 232px;
    background-position: center;
  }

  .box:nth-child(n) {
    margin-left: 0;
  }

  .header-logo {
    display: none;
  }

  .btn-button {
    position: absolute;
    right: -20px;
  }

  .content {
    flex-direction: column;
  }

  .article-contents {
    margin-left: 0;
  }

  .box:nth-child(n + 2) {
    margin-top: 3px;
  }

  .sidebar {
    margin-left: 15px;
  }

  .caption {
    margin-top: 68px;
  }

  .article {
    flex-direction: column;
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .sidebar {
    max-width: 640px;
    margin: auto;
  }

  .product-container {
    max-width: 640px;
  }

  .product-box {
    flex-direction: column;
    margin-left: 14px;
    margin-right: 14px;
  }

  .product-card {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .product-card-margin {
    margin-top: 24px;
    margin-left: 0;
  }
}